{% extends "layouts/base.html.twig" %}

{% block title %}403 Forbidden{% endblock %}

{% block body %}
    <h1>Access Denied</h1>
    <p>You do not have permission to view this page.</p>
    <p><a href="/">Return to home</a></p>
{% endblock %}
