{% extends "layouts/base.html.twig" %}

{% block title %}500 Server Error{% endblock %}

{% block body %}
    <h1>Server Error</h1>
    <p>Something went wrong. Please try again later.</p>
    <p><a href="/">Return to home</a></p>
{% endblock %}
